# sbt
target/
project/target/
project/project/
project/build/
project/boot/
lib_managed/
src_managed/

# IDE
.idea/
.idea_modules/
.bsp/
.metals/
.bloop/
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
